<ion-header>
  <ion-toolbar>
    <ion-title>Event Emit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="danger">
    <span>
      To click the follow button, try to change the content under OnPush strategy.
    </span>
  </ion-text>

  <ion-text color="primary">
    <h1>{{content}}</h1>
  </ion-text>


  <ion-button (click)="onChangeMeClick()" expand="block">
    Change Me
  </ion-button>

</ion-content>