<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink='/strategy/asyncpipe' expand="block">
    Navigate to AsyncPipe1
  </ion-button>
  <ion-button routerLink='/strategy/cdr' expand="block">
    Navigate to ChangeDetectiveRef
  </ion-button>
  <ion-button routerLink='/strategy/input' expand="block">
    Navigate to @Input
  </ion-button>
  <ion-button routerLink='/strategy/eventemit' expand="block">
    Navigate to EventEmit
  </ion-button>
</ion-content>